@charset "UTF-8";
body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: #c3cfe2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(7, 480px);
  grid-template-areas: "header" "card1" "card2" "card3" "card4" "card5" "card6" "card7";
}

header h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-area: header;
}

section[name=card1] {
  grid-area: card1;
}

section[name=card2] {
  grid-area: card2;
}

section[name=card3] {
  grid-area: card3;
}

section[name=card4] {
  grid-area: card4;
}

section[name=card5] {
  grid-area: card5;
}

section[name=card6] {
  grid-area: card6;
}

section[name=card7] {
  grid-area: card7;
}

.card {
  /*position: absolute;*/
  margin: auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 15px grey;
          box-shadow: 0 10px 15px grey;
  width: 340px;
  height: 450px;
  background-color: white;
}
.card__text {
  margin: 20px;
  margin-bottom: 50px;
  line-height: 2rem;
  height: 190px;
  padding: 30px 0 10px;
  background-color: white;
  font-size: medium;
  font-weight: 500;
}
.card__image {
  position: relative;
  top: -55px;
  left: 115px;
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 50%;
}
.card img {
  position: relative;
  top: 5px;
  width: 100px;
  border-radius: 50%;
}
.card__person {
  margin: 0;
  height: 150px;
  position: relative;
  background-color: #686de0;
  border-radius: 0 0 25px 25px;
  color: white;
  text-align: center;
}
.card__name {
  position: relative;
  top: -55px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: large;
}
.card__site {
  position: relative;
  top: -55px;
  padding: 10px;
  color: #c3cfe2;
  font-size: medium;
}

section.card::before {
  content: "";
  position: absolute;
  top: 100;
  right: 50;
  width: 340px;
  height: 450px;
  border-radius: 25px;
  z-index: 1;
  background: black;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

section.card:hover::before {
  content: "";
  position: absolute;
  top: 100;
  right: 50;
  width: 340px;
  height: 450px;
  border-radius: 25px;
  z-index: 1;
  background: black;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

section.card .card__button {
  position: relative;
  top: -30px;
  left: 110px;
  padding: 10px;
  z-index: -1;
}

section.card:hover .card__button {
  position: relative;
  top: -30px;
  left: 110px;
  z-index: 2;
}

.card__button:hover {
  cursor: pointer;
}

.fa-laptop-code {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #e17b77;
  color: white;
}

.fa-twitter {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #00aced;
  color: white;
}

.fa-linkedin-in {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #007bb6;
  color: white;
}

.fa-facebook-f {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #3b5998;
  color: white;
}

.fa-github {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #333;
  color: white;
}

.fa-laptop-code::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  content: "";
  background-color: #e17b77;
  color: white;
}

.fa-twitter::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #00aced;
  color: white;
}

.fa-linkedin-in::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #007bb6;
  color: white;
}

.fa-facebook-f::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #3b5998;
  color: white;
}

.fa-github::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #333;
  color: white;
}

.socials {
  position: absolute;
  right: -12.8rem;
  top: 20rem;
  z-index: 2;
}
.socials li {
  display: block;
  -webkit-transition: -webkit-transform 200ms ease 100ms;
  transition: -webkit-transform 200ms ease 100ms;
  transition: transform 200ms ease 100ms;
  transition: transform 200ms ease 100ms, -webkit-transform 200ms ease 100ms;
}
.socials li:hover {
  -webkit-transform: translateX(-11rem);
          transform: translateX(-11rem);
}
.socials li a {
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(4, 480px);
    grid-template-areas: "header header" "card1 card2" "card3 card4" "card5 card6" "card7 .";
  }
}
@media (min-width: 1024px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(3, 480px);
    grid-template-areas: "header header header" "card1 card2 card3" "card4 card5 card6" "card7 . .";
  }
}
/*# sourceMappingURL=style.css.map */