body {
  padding: 0px;
}

.card {
  width: 300px;

  &__text {
    font-size: medium;
  }
  &__person {
    &__name {
      font-size: large;
      font-weight: bold;
    }
    &__site {
      font-size: medium;
    }
  }
}
