@use "./constants";
@use "./functions";

$cardwidth: 81vw;
$cardheight: 1.3235 * $cardwidth;

$stndpadding: $cardwidth/30;
$stndmargin: $cardwidth/15;
$radius: $cardwidth/18;
$picdia: ($cardwidth/2.5)- (2 * $stndmargin); /*veranderd  */
$picborder: $picdia/20;

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: functions.color(darker);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(7, 1.1 * $cardheight);
  grid-template-areas:
    "header"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7";
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  grid-area: header;
  background-color: functions.color(theme);
  color: functions.color(light);
  box-shadow: 0 10px 15px grey;
  h1 {
    align-items: center;
    text-align: center;
  }
}

section[name="card1"] {
  grid-area: card1;
}
section[name="card2"] {
  grid-area: card2;
}
section[name="card3"] {
  grid-area: card3;
}
section[name="card4"] {
  grid-area: card4;
}
section[name="card5"] {
  grid-area: card5;
}
section[name="card6"] {
  grid-area: card6;
}
section[name="card7"] {
  grid-area: card7;
}

.card {
  margin: auto;
  border-radius: $radius;
  box-shadow: 0 10px 15px grey;
  width: $cardwidth;
  height: $cardheight;
  background-color: functions.color(light);

  &__text {
    margin: $stndmargin;
    margin-bottom: $picdia/2;
    line-height: 2rem;
    height: $cardheight - $picdia - $stndpadding;
    padding: 3 * $stndpadding 0 $stndpadding;
    background-color: functions.color(light);
    font-size: medium;
    font-weight: 500;
  }
  &__image {
    position: relative;
    top: -($picdia/2 + $picborder);
    left: ($cardwidth/2) - ($picdia/2 + $picborder);
    height: $picdia + 2 * $picborder;
    width: $picdia + 2 * $picborder;
    background-color: functions.color(light);
    border-radius: 50%;
  }
  img {
    position: relative;
    top: $picborder;
    width: $picdia;
    border-radius: 50%;
  }
  &__person {
    margin: 0;
    top: (-1.75 * $picdia) + $stndpadding; /* veranderd */
    height: 1.5 * $picdia;
    position: relative;
    background-color: functions.color(theme);
    border-radius: 0 0 $radius $radius;
    color: functions.color(light);
    text-align: center;
  }
  &__name {
    position: relative;
    top: -($picdia/2 + $picborder);
    padding-top: $stndpadding;
    text-transform: uppercase;
    font-size: large;
  }
  &__site {
    position: relative;
    top: -($picdia/2 + $picborder);
    padding: $stndpadding;
    color: functions.color(darker);
    font-size: medium;
  }
}
section.card::before {
  content: "";
  position: absolute;
  width: $cardwidth;
  height: $cardheight;
  border-radius: $radius;
  z-index: 1;
  background: black;
  transform: scale(0, 0);

  transition: transform 100ms ease-out;
}

section.card:hover::before {
  content: "";
  position: absolute;
  width: $cardwidth;
  height: $cardheight;
  border-radius: $radius;
  z-index: 1;
  background: black;
  transform: scale(1, 1);
}

section.card .card__button {
  position: relative;
  top: -($cardheight/2 + $picdia/2);
  left: 0;
  padding: $stndpadding;
  z-index: -1;
}

section.card:hover .card__button {
  position: relative;
  top: -($cardheight/2 + $picdia/2);
  left: 0;
  z-index: 2;
}

.card__button:hover {
  cursor: pointer;
}

.fa-laptop-code {
  @include constants.social-style;
  background-color: functions.social(blog);
  color: white;
}
.fa-twitter {
  @include constants.social-style;
  background-color: functions.social(twitter);
  color: white;
}
.fa-linkedin-in {
  @include constants.social-style;
  background-color: functions.social(linkedin);
  color: white;
}
.fa-facebook-f {
  @include constants.social-style;
  background-color: functions.social(facebook);
  color: white;
}
.fa-github {
  @include constants.social-style;
  background-color: functions.social(github);
  color: white;
}

.fa-laptop-code::before {
  @include constants.before-style;
  font-family: "Font Awesome 5 Free";
  content: "\f5fc";
  background-color: functions.social(blog);
  color: white;
}
.fa-twitter::before {
  @include constants.before-style;
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  background-color: functions.social(twitter);
  color: white;
}
.fa-linkedin-in::before {
  @include constants.before-style;
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
  background-color: functions.social(linkedin);
  color: white;
}
.fa-facebook-f::before {
  @include constants.before-style;
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
  background-color: functions.social(facebook);
  color: white;
}
.fa-github::before {
  @include constants.before-style;
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
  background-color: functions.social(github);
  color: white;
}

.socials {
  position: fixed;
  right: -12.8rem;
  top: 20rem;
  z-index: 2;
  li {
    display: block;
    transition: transform 200ms ease 100ms;
    &:hover,
    &:focus {
      transform: translateX(-12rem);
    }
    a {
      color: white;
      font-family: Tahoma, sans-serif;
      font-weight: lighter;
    }
  }
}

@media (min-width: 768px) {
  $cardwidth: 45vw;
  $cardheight: 1.3235 * $cardwidth;
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(4, 1.1 * $cardheight);
    grid-template-areas:
      "header header"
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 .";
  }

  $stndpadding: $cardwidth/30;
  $stndmargin: $cardwidth/15;
  $radius: $cardwidth/18; /*18px*/
  $picdia: ($cardwidth/2.5)- (2 * $stndmargin); /*100px  */
  $picborder: $picdia/20; /*5px */

  .card {
    /*position: absolute;*/
    margin: auto;
    border-radius: $radius;
    box-shadow: 0 10px 15px grey;
    width: $cardwidth;
    height: $cardheight;
    background-color: functions.color(light);

    &__text {
      margin: $stndmargin;
      margin-bottom: $picdia/2;
      line-height: 2rem;
      height: $cardheight - $picdia - $stndpadding;
      padding: 3 * $stndpadding 0 $stndpadding;
      background-color: functions.color(light);
      font-size: medium;
      font-weight: 500;
    }
    &__image {
      position: relative;
      top: -($picdia/2 + $picborder);
      left: ($cardwidth/2) - ($picdia/2 + $picborder);
      height: $picdia + 2 * $picborder;
      width: $picdia + 2 * $picborder;
      background-color: functions.color(light);
      border-radius: 50%;
    }
    img {
      position: relative;
      top: $picborder;
      width: $picdia;
      border-radius: 50%;
    }
    &__person {
      margin: 0;
      top: (-1.75 * $picdia) + $stndpadding;
      height: 1.5 * $picdia;
      position: relative;
      background-color: functions.color(theme);
      border-radius: 0 0 $radius $radius;
      color: functions.color(light);
      text-align: center;
    }
    &__name {
      position: relative;
      top: -($picdia/2 + $picborder);
      padding-top: $stndpadding;
      text-transform: uppercase;
      font-size: large;
    }
    &__site {
      position: relative;
      top: -($picdia/2 + $picborder);
      padding: $stndpadding;
      color: functions.color(darker);
      font-size: medium;
    }
  }
  section.card::before {
    content: "";
    position: absolute;
    width: $cardwidth;
    height: $cardheight;
    border-radius: $radius;
    z-index: 1;
    background: black;
    transform: scale(0, 0);

    transition: transform 100ms ease-out;
  }

  section.card:hover::before {
    content: "";
    position: absolute;
    width: $cardwidth;
    height: $cardheight;
    border-radius: $radius;
    z-index: 1;
    background: black;
    transform: scale(1, 1);
  }

  section.card .card__button {
    position: relative;
    top: -($cardheight/2 + $picdia/2);
    padding: $stndpadding;
    z-index: -1;
  }

  section.card:hover .card__button {
    position: relative;
    top: -($cardheight/2 + $picdia/2);
    z-index: 2;
  }
}

@media (min-width: 1024px) {
  $cardwidth: 30vw; /* cardwidth de standaard maken*/
  $cardheight: 1.3235 * $cardwidth; /* ongeveer 450px*/
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(3, 1.1 * $cardheight);
    grid-template-areas:
      "header header header"
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 . .";
  }

  $stndpadding: $cardwidth/30; /* 10px */
  $stndmargin: $cardwidth/15; /* 20px */
  $radius: $cardwidth/18; /*18px*/
  $picdia: ($cardwidth/2.5)- (2 * $stndmargin); /*100px  */
  $picborder: $picdia/20; /*5px */

  .card {
    /*position: absolute;*/
    margin: auto;
    border-radius: $radius;
    box-shadow: 0 10px 15px grey;
    width: $cardwidth;
    height: $cardheight;
    background-color: functions.color(light);

    &__text {
      margin: $stndmargin;
      margin-bottom: $picdia/2;
      line-height: 2rem;
      height: $cardheight - $picdia - $stndpadding;
      padding: 3 * $stndpadding 0 $stndpadding;
      background-color: functions.color(light);
      font-size: medium;
      font-weight: 500;
    }
    &__image {
      position: relative;
      top: -($picdia/2 + $picborder);
      left: ($cardwidth/2) - ($picdia/2 + $picborder);
      height: $picdia + 2 * $picborder;
      width: $picdia + 2 * $picborder;
      background-color: functions.color(light);
      border-radius: 50%;
    }
    img {
      position: relative;
      top: $picborder;
      width: $picdia;
      border-radius: 50%;
    }
    &__person {
      margin: 0;
      top: (-1.75 * $picdia) + $stndpadding;
      height: 1.5 * $picdia;
      position: relative;
      background-color: functions.color(theme);
      border-radius: 0 0 $radius $radius;
      color: functions.color(light);
      text-align: center;
    }
    &__name {
      position: relative;
      top: -($picdia/2 + $picborder);
      padding-top: $stndpadding;
      text-transform: uppercase;
      font-size: large;
    }
    &__site {
      position: relative;
      top: -($picdia/2 + $picborder);
      padding: $stndpadding;
      color: functions.color(darker);
      font-size: medium;
    }
  }
  section.card::before {
    content: "";
    position: absolute;
    width: $cardwidth;
    height: $cardheight;
    border-radius: $radius;
    z-index: 1;
    background: black;
    transform: scale(0, 0);

    transition: transform 100ms ease-out;
  }

  section.card:hover::before {
    content: "";
    position: absolute;
    width: $cardwidth;
    height: $cardheight;
    border-radius: $radius;
    z-index: 1;
    background: black;
    transform: scale(1, 1);
  }

  section.card .card__button {
    position: relative;
    top: -($cardheight/2 + $picdia/2);
    padding: $stndpadding;
    z-index: -1;
  }

  section.card:hover .card__button {
    position: relative;
    top: -($cardheight/2 + $picdia/2);
    z-index: 2;
  }
}
