@charset "UTF-8";
/*veranderd  */
body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: #c3cfe2;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(7, 117.92385vw);
  grid-template-areas: "header" "card1" "card2" "card3" "card4" "card5" "card6" "card7";
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  grid-area: header;
  background-color: #686de0;
  color: white;
  -webkit-box-shadow: 0 10px 15px grey;
          box-shadow: 0 10px 15px grey;
}
header h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section[name=card1] {
  grid-area: card1;
}

section[name=card2] {
  grid-area: card2;
}

section[name=card3] {
  grid-area: card3;
}

section[name=card4] {
  grid-area: card4;
}

section[name=card5] {
  grid-area: card5;
}

section[name=card6] {
  grid-area: card6;
}

section[name=card7] {
  grid-area: card7;
}

.card {
  margin: auto;
  border-radius: 4.5vw;
  -webkit-box-shadow: 0 10px 15px grey;
          box-shadow: 0 10px 15px grey;
  width: 81vw;
  height: 107.2035vw;
  background-color: white;
}
.card__text {
  margin: 5.4vw;
  margin-bottom: 10.8vw;
  line-height: 2rem;
  height: 82.9035vw;
  padding: 8.1vw 0 2.7vw;
  background-color: white;
  font-size: medium;
  font-weight: 500;
}
.card__image {
  position: relative;
  top: -11.88vw;
  left: 28.62vw;
  height: 23.76vw;
  width: 23.76vw;
  background-color: white;
  border-radius: 50%;
}
.card img {
  position: relative;
  top: 1.08vw;
  width: 21.6vw;
  border-radius: 50%;
}
.card__person {
  margin: 0;
  top: -35.1vw;
  /* veranderd */
  height: 32.4vw;
  position: relative;
  background-color: #686de0;
  border-radius: 0 0 4.5vw 4.5vw;
  color: white;
  text-align: center;
}
.card__name {
  position: relative;
  top: -11.88vw;
  padding-top: 2.7vw;
  text-transform: uppercase;
  font-size: large;
}
.card__site {
  position: relative;
  top: -11.88vw;
  padding: 2.7vw;
  color: #c3cfe2;
  font-size: medium;
}

section.card::before {
  content: "";
  position: absolute;
  width: 81vw;
  height: 107.2035vw;
  border-radius: 4.5vw;
  z-index: 1;
  background: black;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

section.card:hover::before {
  content: "";
  position: absolute;
  width: 81vw;
  height: 107.2035vw;
  border-radius: 4.5vw;
  z-index: 1;
  background: black;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

section.card .card__button {
  position: relative;
  top: -64.40175vw;
  left: 0;
  padding: 2.7vw;
  z-index: -1;
}

section.card:hover .card__button {
  position: relative;
  top: -64.40175vw;
  left: 0;
  z-index: 2;
}

.card__button:hover {
  cursor: pointer;
}

.fa-laptop-code {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #e17b77;
  color: white;
}

.fa-twitter {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #00aced;
  color: white;
}

.fa-linkedin-in {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #007bb6;
  color: white;
}

.fa-facebook-f {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #3b5998;
  color: white;
}

.fa-github {
  width: 15rem;
  height: 2rem;
  font-family: Tahoma, sans-serif;
  padding: 1rem 0 0 1rem;
  background-color: #333;
  color: white;
}

.fa-laptop-code::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  content: "";
  background-color: #e17b77;
  color: white;
}

.fa-twitter::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #00aced;
  color: white;
}

.fa-linkedin-in::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #007bb6;
  color: white;
}

.fa-facebook-f::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #3b5998;
  color: white;
}

.fa-github::before {
  position: relative;
  width: 3rem;
  height: 2rem;
  padding-right: 1.8rem;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Brands";
  content: "";
  background-color: #333;
  color: white;
}

.socials {
  position: fixed;
  right: -12.8rem;
  top: 20rem;
  z-index: 2;
}
.socials li {
  display: block;
  -webkit-transition: -webkit-transform 200ms ease 100ms;
  transition: -webkit-transform 200ms ease 100ms;
  transition: transform 200ms ease 100ms;
  transition: transform 200ms ease 100ms, -webkit-transform 200ms ease 100ms;
}
.socials li:hover, .socials li:focus {
  -webkit-transform: translateX(-12rem);
          transform: translateX(-12rem);
}
.socials li a {
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(4, 65.51325vw);
    grid-template-areas: "header header" "card1 card2" "card3 card4" "card5 card6" "card7 .";
  }

  /*18px*/
  /*100px  */
  /*5px */
  .card {
    /*position: absolute;*/
    margin: auto;
    border-radius: 2.5vw;
    -webkit-box-shadow: 0 10px 15px grey;
            box-shadow: 0 10px 15px grey;
    width: 45vw;
    height: 59.5575vw;
    background-color: white;
  }
  .card__text {
    margin: 3vw;
    margin-bottom: 6vw;
    line-height: 2rem;
    height: 46.0575vw;
    padding: 4.5vw 0 1.5vw;
    background-color: white;
    font-size: medium;
    font-weight: 500;
  }
  .card__image {
    position: relative;
    top: -6.6vw;
    left: 15.9vw;
    height: 13.2vw;
    width: 13.2vw;
    background-color: white;
    border-radius: 50%;
  }
  .card img {
    position: relative;
    top: 0.6vw;
    width: 12vw;
    border-radius: 50%;
  }
  .card__person {
    margin: 0;
    top: -19.5vw;
    height: 18vw;
    position: relative;
    background-color: #686de0;
    border-radius: 0 0 2.5vw 2.5vw;
    color: white;
    text-align: center;
  }
  .card__name {
    position: relative;
    top: -6.6vw;
    padding-top: 1.5vw;
    text-transform: uppercase;
    font-size: large;
  }
  .card__site {
    position: relative;
    top: -6.6vw;
    padding: 1.5vw;
    color: #c3cfe2;
    font-size: medium;
  }

  section.card::before {
    content: "";
    position: absolute;
    width: 45vw;
    height: 59.5575vw;
    border-radius: 2.5vw;
    z-index: 1;
    background: black;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    transition: transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
  }

  section.card:hover::before {
    content: "";
    position: absolute;
    width: 45vw;
    height: 59.5575vw;
    border-radius: 2.5vw;
    z-index: 1;
    background: black;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  section.card .card__button {
    position: relative;
    top: -35.77875vw;
    padding: 1.5vw;
    z-index: -1;
  }

  section.card:hover .card__button {
    position: relative;
    top: -35.77875vw;
    z-index: 2;
  }
}
@media (min-width: 1024px) {
  /* cardwidth de standaard maken*/
  /* ongeveer 450px*/
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(3, 43.6755vw);
    grid-template-areas: "header header header" "card1 card2 card3" "card4 card5 card6" "card7 . .";
  }

  /* 10px */
  /* 20px */
  /*18px*/
  /*100px  */
  /*5px */
  .card {
    /*position: absolute;*/
    margin: auto;
    border-radius: 1.6666666667vw;
    -webkit-box-shadow: 0 10px 15px grey;
            box-shadow: 0 10px 15px grey;
    width: 30vw;
    height: 39.705vw;
    background-color: white;
  }
  .card__text {
    margin: 2vw;
    margin-bottom: 4vw;
    line-height: 2rem;
    height: 30.705vw;
    padding: 3vw 0 1vw;
    background-color: white;
    font-size: medium;
    font-weight: 500;
  }
  .card__image {
    position: relative;
    top: -4.4vw;
    left: 10.6vw;
    height: 8.8vw;
    width: 8.8vw;
    background-color: white;
    border-radius: 50%;
  }
  .card img {
    position: relative;
    top: 0.4vw;
    width: 8vw;
    border-radius: 50%;
  }
  .card__person {
    margin: 0;
    top: -13vw;
    height: 12vw;
    position: relative;
    background-color: #686de0;
    border-radius: 0 0 1.6666666667vw 1.6666666667vw;
    color: white;
    text-align: center;
  }
  .card__name {
    position: relative;
    top: -4.4vw;
    padding-top: 1vw;
    text-transform: uppercase;
    font-size: large;
  }
  .card__site {
    position: relative;
    top: -4.4vw;
    padding: 1vw;
    color: #c3cfe2;
    font-size: medium;
  }

  section.card::before {
    content: "";
    position: absolute;
    width: 30vw;
    height: 39.705vw;
    border-radius: 1.6666666667vw;
    z-index: 1;
    background: black;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    transition: transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
  }

  section.card:hover::before {
    content: "";
    position: absolute;
    width: 30vw;
    height: 39.705vw;
    border-radius: 1.6666666667vw;
    z-index: 1;
    background: black;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  section.card .card__button {
    position: relative;
    top: -23.8525vw;
    padding: 1vw;
    z-index: -1;
  }

  section.card:hover .card__button {
    position: relative;
    top: -23.8525vw;
    z-index: 2;
  }
}
/*# sourceMappingURL=style.css.map */